*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;    
}
body{    
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: brown;
    background-color: #fdfdfd;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: .5s;
}
a:hover{
    color: #967171;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}
.header,
.footer{
    background-color: #eee8dd;    
}
.header{
    margin-bottom: 50px;
}
.header__nav-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.header__nav-link{
    padding: 0 20px;
    line-height: 50px;
}
.main__inner{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
}
section{
    width: 48%;
    margin: 20px 10px;
}
.photo{
    max-width: 75%;
    display: block;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    text-transform: uppercase;
}
h1{
    font-size: 48px;
    line-height: 56px;
}
h2, h2{
    font-weight: 600;
    margin-bottom: 25px;
}
.first-name{
    font-weight: 500;
}
.main__name{
    position: relative;
}
.main__name-inner{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
}
.name{
    position: relative;
    margin-bottom: 20px;
}
.name::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 189px;
    height: 1px;
    width: 150px;
    background-color: brown;
    border: 1px solid brown;
}




.footer__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.rsschool-logo{
    width: 75px;
}



















